.profile {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.avatar {
  display: inline-block;
  width: 200px;
  border-radius: 50%;
}

.stats {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .label {
 
} */
